
/* Variables */
:root {
  --primary: rgb(36, 36, 37);
  --primary-background: rgb(52, 52, 54);
  --primary-background-quarter-alpha: rgba(36, 36, 37, 0.5);
  --primary-hover: rgb(164, 164, 167);
}
/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--primary-background);
}

header {
  position: relative;
}

/* Unique Styling */
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 3rem;
  padding: 0 1.5rem;
  background-color: var(--primary);
  overflow: none;
}

.logo {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}

ul .links {
  display: inline-block;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:visited {
  color: white;
}

a:hover {
  transition: color 0.3s;
  color: var(--primary-hover);
}

.navbar-container .toggle-btn {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  width: 150px;
  height: 0px;
  overflow: hidden;
  background-color: var(--primary-background-quarter-alpha); 
  border-radius: 5px;
  transition: height 0.2s ease-in; 
}

.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.dropdown-menu li {
  margin: 5px auto;
}

.dropdown-menu.open {
  height: 150px;
}

/* Responsive Design */
@media screen and (min-width: 533px) {
  .dropdown-menu {
    display: none;
  }
}

@media screen and (max-width: 532px)  {
  .navbar-container {
    justify-content: space-between;
  }

  .links {
    display: none;
  }

  .navbar-container .toggle-btn {
    display: block;
  }
}

@media screen and (max-width: 340px)  {
  .dropdown-menu {
    left: 1rem;
    width: unset;
  }
}
